@import "../../../../styles.scss";
.posts {
  &__main-container {
    background-color: $calico-cat-fifth;
    height: 85vh;
    width: 40vw;
    margin: 0 auto;
    border-radius: 25px;
    overflow-y: auto;
    padding: 16px;
  }
  &__container {
    border-bottom: 2px solid $calico-cat-primary;
  }
  &__heading {
    margin: 0;
    padding-top: 8px;
  }
  &__main-content {
    display: flex;
    padding: 16px;
  }
  &__image {
    height: 250px;
    width: 250px;
  }
}
