<nav class="app__navigation-main-container">
    <ul class="app__navigation">
        <div class="app__navigation-box">
            <li class="app__navigation-item app__navigation-item-logo">
                <div class="app__navigation-icon app__navigation-logo">
                    <img src="../../../../assets/icons/cat-paws.svg" alt="logo" class="app__navigation-logo-img">
                </div>
            </li>

            <li class="app__navigation-item">
                <img class="app__navigation-icon" src=" ../../../../assets/icons/cat-dav.svg " alt="logo ">
            </li>

            <li class="app__navigation-item">
                <img class="app__navigation-icon" src=" ../../../../assets/icons/cat-tendencies.svg " alt="logo ">
            </li>
        </div>

        <div class="app__navigation-box">
            <li class="app__navigation-item">
                <img src=" ../../../../assets/icons/plus.svg" alt="logo ">
            </li>
        </div>

        <div class="app__navigation-box">
            <li class="app__navigation-item">
                <img class="app__navigation-icon" src=" ../../../../assets/icons/user.svg " alt="logo ">
            </li>

            <li class="app__navigation-item">
                <img class="app__navigation-icon" src=" ../../../../assets/icons/language.svg " alt="logo ">
            </li>
        </div>
    </ul>
</nav>