@import "../../../../styles.scss";
h3,
h2 {
  margin: 0;
}

.card {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__container {
    background-color: $calico-cat-fifth;
    border-radius: 25px;
    height: 100%;
    width: 100%;
    padding: 8px;
    &:hover {
      transition: box-shadow 0.5s ease-in-out;
      box-shadow: rgba(236, 157, 104, 0.75) 0px 5px 10px,
        rgba(236, 157, 104, 0.5) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(236, 157, 104, 0.25) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
  }
  &__actions {
    &-favorite {
      height: 48px;
      width: 48px;
      cursor: pointer;
      margin-right: 45px;
    }
  }
  &__main {
    &-content {
      display: flex;
      flex-direction: column;
      padding: 8px;
      &-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      &-title {
        font-weight: bold;
      }
    }
  }
  &__comments {
    padding: 8px;
  }
  &__comment {
  }
  &__post-image {
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
  }
}
