// CALICO
$calico-cat-primary: #ec9d68;
$calico-cat-secondary: #d67845;
$calico-cat-ternary: #2f2f2f;
$calico-cat-quaternary: #1e1e1e;
$calico-cat-fifth: #e1e1e1;
// SIAMESE
$siamese-cat-primary: #8cbed6;
$siamese-cat-secondary: #efdfbb;
$siamese-cat-ternary: #c8ad7f;
$siamese-cat-quaternary: #9f8170;
$siamese-cat-fifth: #483c32;
// ORANGE
$orange-cat-primary: #904617;
$orange-cat-secondary: #cd9057;
$orange-cat-ternary: #632307;
$orange-cat-quaternary: #f3ddc6;
$orange-cat-fifth: #ffffff;
// Tabby Cat
$tabby-cat-primary: #565b61;
$tabby-cat-secondary: #5c6c70;
$tabby-cat-ternary: #87888f;
$tabby-cat-quaternary: #9499a4;
$tabby-cat-fifth: #644435;
* {
  font-family: Nunito;
}

html,
body {
  height: 100%;
  margin: 0;
}
