// CALICO
$calico-cat-primary: #ec9d68;
$calico-cat-secondary: #d67845;
$calico-cat-ternary: #2f2f2f;
$calico-cat-quaternary: #1e1e1e;
$calico-cat-fifth: #e1e1e1;
body {
  background-color: $calico-cat-primary;
  color: $calico-cat-fifth;
}
