// SIAMESE
$siamese-cat-primary: #8cbed6;
$siamese-cat-secondary: #efdfbb;
$siamese-cat-ternary: #c8ad7f;
$siamese-cat-quaternary: #9f8170;
$siamese-cat-fifth: #483c32;
:root {
  --color-primary: #483c32;
  --color-background-primary: #8cbed6;
}
